<h1>Editing customer address</h1>

<%= render "form", customer_address: @customer_address %>

<br>

<div>
  <%= link_to "Show this customer address", @customer_address %> |
  <%= link_to "Back to customer addresses", customer_addresses_path %>
</div>
