<h1>Home</h1>


<% if employee_signed_in? %>
  <h1>Welcome Home, <%= current_employee.email %></h1>
  <%= link_to 'Sign out', destroy_employee_session_path, data: { turbo_method: :delete } %>
<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_employee_session_path %>
<% end %>
