<h1>Editing supplier address</h1>

<%= render "form", supplier_address: @supplier_address %>

<br>

<div>
  <%= link_to "Show this supplier address", @supplier_address %> |
  <%= link_to "Back to supplier addresses", supplier_addresses_path %>
</div>
