<h1>Editing Customer</h1>

<%= turbo_stream_from @customer %>

<controls>
  <%= button_tag "Update", form: "customer_form", formaction: update_customer_path(@customer), method: :patch %>
  <%= link_to "Back", show_customer_path(@customer), role: "button" %>
</controls>

<input type="hidden" name="_method" value="patch" form="customer_form">

<%= render "form", disabled: false %>
