<h1>Customers</h1>

<%= render partial: "pager", locals: { pagy: @pagy, path: customers_path, new_path: new_customer_path } %>

<table>
  <thead>
    <tr>
      <th>Customer Id</th>
      <th>Company Name</th>
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
      <tr>
        <td title="Customer Id">
          <%= link_to customer.id, customer_path(customer) %>
        </td>
        <td title="Company Name">
          <%= customer.company_name %> 
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
