<h1>Editing employee address</h1>

<%= render "form", employee_address: @employee_address %>

<br>

<div>
  <%= link_to "Show this employee address", @employee_address %> |
  <%= link_to "Back to employee addresses", employee_addresses_path %>
</div>
