<p style="color: green"><%= notice %></p>

<h1>Employee addresses</h1>

<div id="employee_addresses">
  <% @employee_addresses.each do |employee_address| %>
    <%= render employee_address %>
    <p>
      <%= link_to "Show this employee address", employee_address %>
    </p>
  <% end %>
</div>

<%= link_to "New employee address", new_employee_address_path %>
