<h1>Editing Shipper</h1>
<%= turbo_stream_from @shipper %>
<controls>
  <%= button_tag "Update", form: "shipper_form", formaction: update_shipper_path(@shipper), method: :patch %>
  <%= link_to "Back", show_shipper_path(@shipper), role: "button" %>
</controls>
<input type="hidden" name="_method" value="patch" form="shipper_form">
<%= render "form", disabled: false %>

