<h1>Editing Order Item</h1>
<%= turbo_stream_from @order_item %>
<controls>
  <%= button_tag "Update", form: "order_item_form", formaction: update_order_item_path(params[:order_id],params[:product_id]), method: :patch %>
  <%= link_to "Back", show_order_item_path, role: "button" %>
</controls>
<input type="hidden" name="_method" value="patch" form="order_item_form">
<%= render "form", disabled: false %>
