<h1>Editing Region</h1>

<%= turbo_stream_from @region %>

<controls>
  <%= button_tag "Update", form: "region_form", formaction: update_region_path(@region), method: :patch %>
  <%= link_to "Back", show_region_path(@region), role: "button" %>
</controls>

<input type="hidden" name="_method" value="patch" form="region_form">

<%= render "form", disabled: false %>
