<h1>Products</h1>
<%= render partial: "pager", locals: { pagy: @pagy, path: index_product_path, new_path: new_product_path } %>
<table>
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Code</th>
      <th>Product Name</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td title="Product Id">
          <%= link_to product.id, show_product_path(product) %>
        </td>
        <td title="Product Code">
          <%= product.product_code %>
        </td>
        <td title="Product Name">
          <%= product.product_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
