<h1>Suppliers</h1>
<%= render partial: "pager", locals: { pagy: @pagy, path: index_supplier_path, new_path: new_supplier_path } %>
<table>
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Region</th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td title="Company Name">
          <%= link_to supplier.company_name, show_supplier_path(supplier) %>
        </td>
        <td title="Region">
          <%= supplier.region %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
