<h1>New supplier</h1>

<controls>
  <button form="supplier_form">Create</button>
  <%= link_to "Back", index_supplier_path, role: "button" %>
</controls>

<%= render "form", supplier: @supplier, disabled: false %>
